* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
h1 {
  color: #2c7be5;
}
body {
  font-family: "Cerebri Sans",sans-serif;
  background-color: #f9fbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s linear;
}
body.dark {
	background: #292C35;
}
.container {
  display: flex;
}
.main-box {
  padding: 50px 320px;
  width: 100%;
}
.box {
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto;
  background: white;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9; 
  border-radius: .5rem;
}
.first-box {
  text-align: center;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #edf2f9;
}
.item:last-child {
  border-bottom: 0;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #222831;
}
input[type="checkbox"] {
  margin: 15px 0px 15px 0px;
  zoom: 1.5;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 200;
  color: #12263f;
}
form.item {
  text-align: center;
  margin-left: 20px;
}
button {
  min-height: 30px;
  width: 40px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #2c7be5;
  color: #fff;
  font-size: 30px;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  width: 300px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -1.3px 0 0 #2c7be5;
}
footer {
  display: flex;
  justify-content: center;
}